{% extends 'cuentas/main.html' %}

{% block content %}

{% load static %}
<div class="container">

        <div class="card card-body text-center m-4">
            <h2>Nuevo medicamento</h2>
            <img src="{% static "cuentas/pills.png" %}" class="card-img-top w-25 rounded mx-auto d-block m-2">
            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th><h4>Nombre</h4></th>
                </tr>
            </thead>
                <tr>
                    <td><input type="search"></td>
                </tr>

                <thead class="thead-dark">
                <tr>
                    <th><h4>Dosis (mg)</h4></th>
                </tr>
                </thead>

                <tr>
                    <td><input type="number"></td>
                </tr>

                <thead class="thead-dark">
                <tr>
                    <th><h4>Cantidad</h4></th>
                </tr>
                </thead>

                <tr>
                    <td><input type="number"></td>
                </tr>

    
        
              
                
            </table>
            <button type="button" class="btn btn-success btn-lg"><h4>Agregar</h4></button>
        </div>
        
       
            <div class="card card-body text-center m-4">
                <h2>Mis medicamentos</h2>
    
                <img src="{% static "cuentas/medicine2.png" %}" class="card-img-top w-25 rounded mx-auto d-block">
                <hr>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Disponibles</th>
                            <th>Modificar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    {% for i in medicamentos %}
                    <tr>
                        <td>{{i.nombre}}</td>
                        <td>{{i.cantidad}}</td>
                        <td><a class="btn btn-md btn-primary" href="">Modificar</a></td>
                        <td><a class="btn btn-md btn-danger" href="">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </table>
    
    
            </div>
      
</div>


{% endblock %}