{% extends 'cuentas/main.html' %}

{% block content %}

{% load static %}
<div class="container">

        <div class="card card-body text-center">
            <h2>Nuevo medicamento</h2>
            <img src="{% static "cuentas/medicine.png" %}" class="card-img-top w-25 rounded mx-auto d-block">
            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th><h4>Nombre</h4></th>
                </tr>
            </thead>
                <tr>
                    <td><input type="search"></td>
                </tr>

                <thead class="thead-dark">
                <tr>
                    <th><h4>Dosis</h4></th>
                </tr>
                </thead>

                <tr>
                    <td><input type="number"></td>
                </tr>

                <thead class="thead-dark">
                <tr>
                    <th><h4>Cantidad</h4></th>
                </tr>
                </thead>

                <tr>
                    <td><input type="number"></td>
                </tr>

    
        
              
                
            </table>
            <button type="button" class="btn btn-success btn-lg"><h4>Agregar</h4></button>
        </div>
        
</div>


{% endblock %}