{% extends 'cuentas/main.html' %}

{% block content %}

{% load static %}
<div class="row">

    <div class="card card-body text-center m-4">
        <h2>Nuevo medicamento</h2>
        <img src="{% static "cuentas/pills.png" %}" class="card-img-top w-25 rounded mx-auto d-block m-2">
        
        
        <form action="" method="post">
            {% csrf_token %}
            {{med_form}}

            <input type="submit" class="btn btn-success btn-lg" name="Submit">
   
        </form>

        
    </div>


    <div class="card card-body text-center m-4">
        <h2>Mis medicamentos</h2>

        <img src="{% static "cuentas/medicine2.png" %}" class="card-img-top w-25 rounded mx-auto d-block">
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Dosis</th>
                    <th>Disponibles</th>
                    <th>Modificar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            {% for medicamento in medicamentos %}
            <tr>
                <td>{{medicamento.nombre}}</td>
                <td>{{medicamento.dosis}} {{medicamento.tipo_dosis}}</td>
                <td>{{medicamento.cantidad}}</td>
                <td><a class="btn btn-md btn-primary" href="{% url 'medicamento' medicamento.id %}">Modificar</a></td>
                <td><a class="btn btn-md btn-danger" href="{% url 'eliminar' medicamento.id %}">Eliminar</a></td>
            </tr>
            {% endfor %}
        </table>


    </div>

</div>


{% endblock %}