{% extends 'cuentas/main.html' %}

{% block content %}
{% load static %}

<div class="container">

    <div class="card card-body text-center m-4">
        <h1>{{medicamento.nombre}}</h1>
        <img src="{% static "cuentas/pill.png" %}" class="card-img-top w-25 rounded mx-auto d-block m-2">
        
        <h2>Dosis: {{medicamento.dosis}}</h2>
        <h2>Disponibles: {{medicamento.cantidad}}</h2>
        <table class="table table-hover">

            <thead class="thead-light">
                <tr>
                    <th>
                        Dosis
                    </th>
                </tr>
            </thead>

            <tr>
                <td><input type="number"></td>
            </tr>

            <thead class="thead-light">
                <tr>
                    <th>
                        Cantidad
                    </th>
                </tr>
            </thead>

            <tr>
                <td><input type="number"></td>
            </tr>




        </table>
        <a href="" class="btn btn-success btn-lg m-2">
            <h4>Confirmar cambios</h4>
        </a>
        <a class="btn btn-primary btn-lg m-2" href="/medicamentos/">
            <h4>Ver todos</h4>
        </a>
    </div>

</div>

    {% endblock %}