{% extends 'cuentas/main.html' %} {% block content %} {% load static %}

<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="card card-body text-center m-4">
      <h1>{{usuario.nombre}}</h1>
      <img src="{% static "cuentas/edituser.png" %}" class="card-img-top w-25
      rounded mx-auto d-block m-2">

      <h2><strong>Nacimiento:</strong> {{usuario.nacimiento}}</h2>
      <h2><strong>Email:</strong> {{usuario.email}}</h2>

      <form class="m-3" action="" method="post">
        {% csrf_token %}
        <!-- {{med_form}} -->
        {% for field in usuario_form %}
        <div class="form-group row">
          {{ field.errors }}
          <div class="col-sm-5 col-form-label">
            <strong>{{ field.label_tag }} </strong>
          </div>
          <div class="col-sm-7">
            {{ field }}
          </div>
          {% if field.help_text %}
          <p class="help">{{ field.help_text|safe }}</p>
          {% endif %}
        </div>
        {% endfor %}
        <input
          type="submit"
          class="btn btn-success btn-lg"
          name="Confirmar"
          value="Confirmar"
        />
        <a class="btn btn-primary btn-lg m-2" href="/usuario/">
          Ver perfil
        </a>
      </form>
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>

{% endblock %}
