{% extends 'cuentas/main.html' %}

{% block content %}
{% load static %}


<div class="row">


    <div class="col-md">
        <div class="card card-body text-center">
            <h2>Mi perfil</h2>
            <img src="{% static "cuentas/profile.png" %}" class="card-img-top w-25 rounded mx-auto d-block">
            <hr>
            <p><strong>Nombre:</strong> John Smith</p>
            <p><strong>Edad:</strong> 77</p>
            <p><strong>Altura:</strong> 1.77m</p>
            <p><strong>CI:</strong> 2.425.764-2</p>
            <a class="btn btn-lg btn-success m-2" href="">Editar perfil</a>
        </div>
    </div>

    <div class="col-md">
        <div class="card card-body text-center">
            <h2>Signos vitales</h2>

            <img src="{% static "cuentas/pressure.png" %}" class="card-img-top w-25 rounded mx-auto d-block">
            <hr>
            <p><Strong>Presión arterial:</Strong> 120/80 mm Hg</p>
            <p><strong>Peso: </strong>77kg</p>

            <a class="btn btn-lg btn-primary m-2" href="">Añadir presión arterial</a>
            <a class="btn btn-lg btn-info m-2" href="">Cambiar peso</a>
           
        </div>
    </div>





</div>

{% endblock %}