.card {
    font-size: 1.5rem;
}

header a {
    color: #0f4c75;
}

header a:hover {
    text-decoration: none;
    color          : #3282b8;
}

div.form-control {
    border       : none;
    border-radius: none
}